<footer>
  <div class="footer container column align-items-center justify-content-center">
    <div class="footer--block text-align-center">
      <div class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        <a href="{{ site.baseurl }}/"><span>Aceleración |</span> {{ site.title }}</a>
      </div>
      <div class="by" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
        <a href="http://www.buenosaires.gob.ar/educacion/estudiantes/inscripcionescolar/primario/grados-de-aceleracion" target="_blank">Gobierno de la Ciudad Autónom de Buenos Aires. Ministerio de Educación</a>
      </div>
    </div>
  </div>
</footer>
