<header>

  <div class="header container align-items-center justify-content-center">
    <div class="header--block size margin container column">
      <div class="header--block--text" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        Actividades del equipo del programa de  {{ site.title }}
      </div>
      <div class="container column position-search">
        <div class="header--block--input" data-aos="fade-up" data-aos-delay="" data-aos-offset="0" id="search-container">
          <div class="header--block--input--icon">
            <!-- <img src="{{ site.baseurl }}/assets/img/icons/search-input.svg" width="30" alt=""> -->
            <span class="feather-icon icon-search"></span>
          </div>
          <input class="input-search" type="text" name="" value="" placeholder="Buscar..." id="search-input">
        </div>
        <div class="header--block--result">
          <ul id="results-container"></ul>
        </div>
      </div>
    </div>
  </div>


</header>
