<div class="menu">
  <div class="size margin menu--content container align-items-center justify-content-between">

    <div class="" data-aos="fade-right" data-aos-delay="" data-aos-offset="0">
      <a href="{{ site.baseurl }}/"><span>Aceleración |</span> {{ site.title }}</a>
    </div>

    <a href="http://programaaceleracion.blogspot.com/" data-aos="fade-left" data-aos-delay="" data-aos-offset="0">
      <div class="container align-items-baseline back-to-site">
        <div class="">
          <span class="feather-icon icon-external-link"></span>
        </div>
        <div class="back-to-site-text">
          Volver al sitio del programa
        </div>
      </div>
    </a>
    <!-- <nav class="masthead-nav">
      {% for page in site.pages %}
      {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}">
        {{ page.title }}
      </a>
      {% endif %}
      {% endfor %}
    </nav> -->
  </div>
</div>
